

.table-container, .patient-wound-container, .treatment-plan-container{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: groove;
    padding: 50px 0px;
}

.table-container button{
    margin-bottom: 20px;
    width: 200px;
}
.treatment-plan-container h2{
    padding-bottom: 10px;
}

.photo-table img{
    height: 200px;
}


.examine-container{
}

.patient-wound-container button {
    width: 200px;
}

.examine-container{

}
 input {
    border-color: red;
    border-style: groove;
}

input[type="file"] {
    background-color: #344C5B;
    margin-top: 10px;
    margin-bottom: 10px;

}

.wound-image{
    margin-top: 20px;
    margin-bottom: 50px;
}

/*.input-button{*/
/*    border: 1px solid #ccc;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    padding: 10px 12px;*/
/*    cursor: pointer;*/
/*    width: 200px;*/
/*    font-size: 12px;*/
/*    background-color: #344C5B;*/
/*}*/

