.patient-nav{
    border-color: palevioletred;

}

.patient-nav-container{
    border-style: groove;
    border-color: yellow;
    border-style: groove;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
}

.patient-nav-container button{
    background-color: #188097;
}



.table-container, .treatment-plan-container{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: groove;
    padding: 50px 0px;
}

.patient-wound-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

.table-container button{
    margin-bottom: 20px;
    width: 200px;
}

.patient-nav-container .add-wound-button{
    background-color: #344C5B;
    font-size: 12px;
    height: 35px;
    width: 110px;
    border-radius: 20px;

}

.table-container h1{
    align-self: center;
}
.treatment-plan-container h2{
    padding-bottom: 10px;
}

.photo-table td{
    text-align: center;
    vertical-align: middle;
}

.photo-table img{
    height: 200px;
    border-style: groove;
    border-color: red;
}

.patient-wound-container button {
    width: 200px;
}

.examine-container{

}
 input {
    border-color: red;
    border-style: groove;
}

input[type="file"] {
    background-color: #188097;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-photo-container{
    display: flex;
    flex-direction: column;
    border-color: red;
    border-style: groove;
}
.wound-image{
    margin-top: 20px;
    margin-bottom: 50px;
}
