.nurses-container {
    border-color: black;
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 400px;
}

.nurses-container > div{
    border-style: groove;
    border-color: yellow;
    background-color: #188097;
    color: white;
    font-size: 12px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
}


