
.button{
    background-color: #344C5B;
    color: white;
    font-size: 12px;
    height: 35px;
    width: 110px;
    border-radius: 20px;
}


.tile-container button{
    width: 200px;
}

.button-container-contact, .button-container-admin-nurses,
.button-container-admin-patients, .button-container-patient-password, .button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    margin-bottom: 10px;
}
button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

