

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
    color: white;
}

.form-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container input, .form-container textarea {
    width: 300px;
}


.radio-container input{
width: 10px;
}
