

.form-container{
    border-color: yellow;
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.form-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: red;
}

input, textarea {
    width: 300px;
}
