/*.login-container{*/
/*    border-style: groove;*/
/*    border-color: white;*/
/*}*/


{

}
.login-form-container, .contact-form-container, .patient-form-container {
    margin-top: 200px;
    border-color: black;
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-align: center;
    z-index: 2;
}

input, textarea{
    background-color: white;
    padding: 10px 5px;
    margin: 10px;
    width: 80%;
}


.button-container-login, .button-container-contact, .button-container-admin-nurses,
.button-container-admin-patients{
    border-style: groove;
    border-color: #344C5B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
}
