.tile-container > div {
    border-color: palevioletred;
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    width: 280px;
    padding: 20px 0px 0px 10px;
    margin: 0px 30px;
    color: white;
}

.tile-container img{
    padding-bottom: 15px;
    height: 60px;

}

.tile-container h3{
    font-size: 24px;
    padding: 0px 0px 15px 0px;
    font-weight: lighter;
}

.tile-container p{
    font-size: 14px;
    padding: 0px 50px 15px 0px;
    font-weight: lighter;
}


.inloggen {
    background-color: rgba(24, 128, 151, 0.24);

}

.contact{
    background-color: rgba(24, 128, 151, 0.53);
}