.slogan {
    margin-top: 150px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


}

.text-container {
    flex-basis: 400px;
    text-align: center;
}
.homepage h1{
    color: #344C5B;
    font-size: 73px;
}

.homepage h2{
    font-size: 41px;
    color: white;
}