@import 'assets/fonts/Fonts.css';

/*!*------1. global styles -------*!*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif, Arial;
    font-weight: lighter;
}

body{
    background-image: linear-gradient(to right, #29A4B0, #bcf4ff);
}

/*------2. typography -------*/

h1 {
    font-size: 41px;
    color: white;
}
/*!*------3. Layout -------*!*/

button{
    background-color: #344C5B;
    color: white;
    font-size: 12px;
}

.homepage, .contact-page, .admin-page , .overview-page, .login-page, .contact-page {
    border-color: gold;
    border-style: groove;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 1000px;
    color: white;
}

.homepage-container, .contact-container, .overview-container, .login-page-container, .contact-page-container{
    border-color: pink;
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    flex-basis: 1200px;
    height: 1000px;
    vertical-align: middle;
    margin-top: 0px;
    position: relative;
    /*z-index: 4;*/
}

.nurse-image{
    position: fixed;
    bottom: 0px;
    right: 80px;
    z-index: -1;
}

/*!*------4. areas -------*!*/

