@import 'assets/fonts/Fonts.css';

/*!*------1. global styles -------*!*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif, Arial;
    font-weight: lighter;
}

body{

}
/*------2. typography -------*/

/*!*------3. Layout -------*!*/

/*!*------4. areas -------*!*/

