@import 'assets/fonts/Fonts.css';

/*!*------1. global styles -------*!*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif, Arial;
    font-weight: lighter;
}

body{
    background-image: linear-gradient(to right, #29A4B0, #bcf4ff);
}

/*------2. typography -------*/

h1 {
    font-size: 41px;
    color: white;
}
/*!*------3. Layout -------*!*/

button{
    background-color: #344C5B;
    color: white;
    font-size: 12px;
}





.nurse-image{
    position: fixed;
    bottom: 0px;
    right: 80px;
    z-index: -1;
}

/*!*------4. areas -------*!*/

