.nav{
    align-self: flex-end;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    gap: 100px;
    padding: 20px 0px 20px 100px;
}

a {
    font-size: 23px;
    text-decoration: none;
    color: white;
}

li{

}
