.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-container{
    flex-basis: 1200px;
    justify-content: space-between;
}



ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    list-style: none;
    gap: 100px;
    padding: 0px 0px 20px 100px;
    margin-top: 20px;
}

a,
a:visited,
a:hover {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

.active-link {
    font-size: 23px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}

li{
color: white;
}
